/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Nav-bar Styles
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2D25A0;;
    padding-top: 42px;
}

ul{
    display: flex;
    margin-left: 130px;
}

li{
    list-style: none;
    margin-right: 36px;
}
a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 400;
}

.login-icon{
    display: flex;
    background-color: #E02C6D;
    margin-right: 202px;
    padding: 10px 24px;
}

.icon{
    padding-right: 8px;
} */

/* Top Banner Styles */
.top-container{
    width: 100%;
    background-color: #2D25A0;
    height: 600px;
    margin-bottom: 70px;
}
.half-width{
    display: flex;
    justify-content: space-between;
    padding-top: 67px;
}

.home-title{
    margin-left: 105px;
}

.home-title h1{
    font-size: 64px;
    font-weight: bold;
    color: white;
    margin-bottom: 27px;
    line-height: 80px;
}

.watch-button:hover .watch-text{
    background-color: white;
    color: #2D25A0;
}

.watch-text{
    background-color: #E02C6D;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 24px;
    text-decoration: none;
    color: white;
}

.fa-arrow-right{
    margin-left: 8px;
}

.home-image img{
    margin-right: 90px;
    width: 550px;
    height: 430px;
    margin-top: 20px;
}

/* Players Styles */

.blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
    column-gap: 27px;
    margin-right: 210px;
    margin-left: 180px;
    margin-bottom: 50px;
}

.blog{
    padding: 15px;
    box-shadow: 0px 0px 40px lightgray;
}

.blog .thumbnail img{
    width: 300px;
    height: 256px;
}

.player-name{
    font-size: 28px;
    color: #18191F;
    margin-top: 16px;
}

.player-details{
    font-size: 16px;
    line-height: 26px;
    color: #6C6C6C;
    margin-top: 10px;
}