/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Nav-bar Styles
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2D25A0;;
    padding-top: 42px;
}

ul{
    display: flex;
    margin-left: 130px;
}

li{
    list-style: none;
    margin-right: 36px;
}
a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 400;
}

.login-icon{
    display: flex;
    background-color: #E02C6D;
    margin-right: 202px;
    padding: 10px 24px;
}

.icon{
    padding-right: 8px;
} */

/* Top Banner Styles */
.top-container{
    width: 100%;
    background-color: #2D25A0;
    height: 600px;
    margin-bottom: 70px;
}
.half-width{
    display: flex;
    justify-content: space-between;
    padding-top: 67px;
}

.home-title{
    margin-left: 105px;
}

.home-title h1{
    font-size: 64px;
    font-weight: bold;
    color: white;
    margin-bottom: 27px;
    line-height: 80px;
}

.watch-button:hover .watch-text{
    background-color: white;
    color: #2D25A0;
}

.watch-text{
    background-color: #E02C6D;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 24px;
    text-decoration: none;
    color: white;
}

.fa-arrow-right{
    margin-left: 8px;
}

.home-image img{
    margin-right: 90px;
    width: 550px;
    height: 430px;
    margin-top: 20px;
}

/* Players Styles */

.blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
    column-gap: 27px;
    margin-right: 210px;
    margin-left: 180px;
    margin-bottom: 100px;
}

.blog{
    padding: 15px;
    box-shadow: 0px 0px 40px lightgray;
}

.blog .thumbnail img{
    width: 300px;
    height: 256px;
}

.player-name{
    font-size: 28px;
    color: #18191F;
    margin-top: 16px;
}

.player-details{
    font-size: 16px;
    line-height: 26px;
    color: #6C6C6C;
    margin-top: 10px;
}

/* News Letter Styles */
.news-letter{
    width: 100%;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F7F7F7;
    margin-bottom: 100px;
}

.letter-details{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.letter-details .letter-title{
    font-size: 35px;
    color: #302B9C;
    margin-bottom: -10px;
}

.letter-details .info{
    text-align: center;
   color: #5B5B5B;
}

.form{
    text-align: center;
}

.form input{
    width: 300px;
    height: auto;
    margin-top: -10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #BABABA;
}

.form .subs-button{
    background-color: #2B2B98;
    text-decoration: none;
    font-size: 15px;
    padding: 8px 20px;
    color: white;
    display: inline-block;
    margin-top: 10px;
    border-radius: 5px;
}

/* Photo Album Styles */
.best-players{
    width: 100%;
    height: 600px;
}
.best-players .title{
    font-size: 2em;
    color: #2B2B98;
    padding-left: 20px;
}
.photo-album {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 0 10px;
}

.photo-frame {
    width: 300px;
    height: 256px;
    border: 2px solid lightgray;
    border-radius: 10px;
    position: relative;
    margin: 10px;
    overflow: hidden;
}

.photo img {
    width: 300px;
    height: 256px;
    border-radius: 10px;
}

.photo-detail {
    position: absolute;
    top: 0;
    width: 300px;
    display: none;
}

.photo-detail h3 {
    background-color: white;
    color: #302B9C;
    text-align: center;
}

.photo-detail p {
    text-align: center;
    color: white;
    padding: 0 5px;
}

.photo-frame:hover .photo-detail {
    display: block;
    background-color: #312b9caf;
}

.photo-frame:hover .photo {
    transform: scale(1.4) skew(-5deg);
}

.photo {
    transition: transform 3s;
}

/* Footer Styles */

.bottom-section{
    margin-top: 150px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-logo img{
    width: 483.87px;
    height: 110px;
}

.social-icon{
    font-size: 17px;
    color: #969BAB;;
    background-color: #E7E7E8;
    padding: 7.5px;
    border-radius: 16px;
    margin-right: 14px;
    margin-bottom: 20px;
}

.social-contact, .copy-right{
    color: black;
    font-size: 18px;
    font-weight: 400;
}

/* Media Queries */

/* Mobile Devices */
@media only screen and (max-width: 688px) {

    .top-container{
        width: 100%;
    }
    .half-width{
        padding-top: 0;
        flex-direction: column;
    }

    .home-title{
        margin-top: 30px;
        margin-left: 16px;
    }

    .home-title h1{
        font-size: 36px;
        line-height: 50px;
        margin-bottom: 30px;
    }
    .home-image img{
        width: 300px;
        height: 230px;
        margin-top: 50px;
        margin-left: 15px;
        margin-bottom: 61px;
    }

    .blogs{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 27px;
        margin-right: 0px;
        margin-left: 15px;
    }
    .blog{
        width: 250px;
        height: 456px;
    }

    .blog .thumbnail img{
        width: 250px;
        height: 200px;
    }

    .player-name{
        font-size: 25px;
    }

    .footer-logo img{
        width: 300px;

    }

    .bottom-section{
        padding: 0;
    }

    .social-icon{
        margin: 0;
        padding: 0;
    }
}

